{% extends 'layout/base.html.twig' %}
{% block header %}Login{% endblock %}
{% set js_ctrl, page  = 'login', 'login'  %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="card bg-light mb-3">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger alert-block" id="func-login-error">
                                {{ error.message }}
                            </div>
                        {% endif %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" class="btn btn-default pull-right" value="Login" />
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
