# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c424918372f3fb81fa1496488d5fee56
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db
###< doctrine/doctrine-bundle ###
###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=c8e305ea537fb940ffae8b73c2af3721
###< lexik/jwt-authentication-bundle ###
#UID=1001
#GID=1001
APP_APPLICATION_HOST=prospecter.io
APP_STATIC_HOST=static.prospecter.io
APP_APPLICATION_REGEX_FIREWALL=^prospecter\.io$
APP_STATIC_PROTOCOL=https
APP_STORAGE_URL=https://static.prospecter.io/storage
APP_STORAGE_PATH=%kernel.project_dir%/public/static/storage
APP_GOOGLE_API_KEY="0000"
