###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
/bin/.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-pack ###
/node_modules/
/public/static/build/*
/public/static/storage/*
!/public/static/build/.gitkeep
###< symfony/webpack-encore-pack ###
/.idea/
.php_cs.cache
/reports/
/docker/data/*
build.tar.gz
/reports