###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
/bin/.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-pack ###
/node_modules/
/public/static/build/*
!/public/static/build/.gitkeep
###< symfony/webpack-encore-pack ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/.idea/
/node_modules/
.php_cs.cache
/reports/
