<div class="card-body">
    <h2 class="card-title text-muted">"{{ data.corporateName }}" quick stats</h2>
    <p class="card-text">
        <a href="{{ path('organization_find') }}" class="btn btn-success ">
            <span class="badge badge-light">{{ data.stats.activeOrganizations }}</span> Active organization(s)
        </a>
        <a href="#" class="btn btn-primary">
            <span class="badge badge-light">12</span> Prospects (todo)
        </a>
    </p>
</div>
